@import "tailwindcss";

:root {
	--foreground: #ffffff;
	--background: #0a000a;
}

@theme inline {
	--breakpoint-search: 1230;
	--breakpoint-login: 914;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a000a;
		--foreground: #edeeed;
	}
} */

body {
	background-image: url("../public/background/cartoon-background.png");
	background-attachment: fixed;
	background-repeat: repeat;
}
